@import url('https://fonts.googleapis.com/css?family=Fira+Code:300|Inter:600;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --white: #f3f3f3;
    --color-default: #2a313a;
    --color-default-darker: #001367;
    --color-primary: #425fc7;
    --color-dark: #003696;
    --mobile-font-width: 28.75em;
    --font-montserrat: 'Inter', sans-serif;
    --font-fira-code: 'Fira Code', monospace;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-fira-code);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1;
    color: var(--white);
    box-sizing: border-box;
}

h1,
h2 {
    font-family: var(--font-montserrat);
    font-weight: 800;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

h3 {
    font-size: 3.2rem;
    font-weight: 800;
}

ul {
    list-style: none;
}

button,
a {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

a label {
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-primary);
    z-index: 2;
}

.nav-list {
    display: flex;
}

.nav-list a {
    display: block;
    font-size: 1.3rem;
    padding: 20px;
}

.nav-list a:hover,
.nav-list a:focus {
    background-color: var(--color-dark);
}

@media (max-width: 460px) {
    .nav-list label {
        display: none;
    }
    .welcome-section {
        padding-top: 100px;
    }
    .welcome-section h1 {
        font-size: 4rem;
    }
    .welcome-section__more-information {
        width: 80%;
        font-size: 1.2rem;
    }
    .btn__call-action {
        font-size: 1.5rem;
    }
    .welcome-section__profession {
        font-size: 1.7rem;
        margin-top: 15px;
        text-align: center;
    }
    .contact-section {
        padding-top: 100px;
    }
    .contact-section-header h2 {
        font-size: 3rem;
    }
    .projects-section-header {
        font-size: 3.8rem;
    }
    .welcome-section__social-networks i {
        margin: 0px;
    }
    .about-me-section h2 {
        font-size: 3.8rem;
    }
}

@media (min-width: 460px) {
    .btn__call-action {
        font-size: 1.8rem;
    }
    .welcome-section__profession {
        margin-top: 14px;
        font-size: 2rem;
    }
    .welcome-section__social-networks i {
        padding: 15px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .contact-links {
        margin-top: 5rem;
    }
    .welcome-section__more-information {
        width: 50%;
        font-size: 1.5rem;
    }
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #212121;
}

.welcome-section__profession {
    font-weight: 200;
    color: var(--color-primary);
}

.welcome-section__more-information {
    padding-top: 20px;
    text-align: center;
    line-height: 1.4;
}

.welcome-section__social-networks {
    margin-top: 20px;
}

.welcome-section__social-networks i {
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease-out background-color;    
    border-radius: 10px;
}

.welcome-section__social-networks i:hover {
    background-color: var(--color-dark);
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background-color: var(--color-dark);
}

.searchbox {
    background-color: var(--color-dark);
    font-family: var(--font-montserrat);
    text-align: center;
    margin-bottom: 40px;
    border-radius: 15px;
    font-size: 1.8rem;
    padding: 1rem;
    color: white;
    outline: none;
    width: 80%;
    transition-property: background-color;
    transition: 0.3s ease;
    border: 1px solid white;
}

.searchbox::placeholder {
    color: rgb(206, 206, 206);
}

.searchbox:focus {
    background-color: var(--color-default-darker);
}

@media (max-width: 460px) {
    .searchbox {
        width: 100%;
        font-size: 1.4rem;
    }
}

.projects--projects-not-found {
    display: none;
}

.projects-section-header {
    max-width: 640px;
    margin: 0px auto 70px auto;
}

@media (max-width: 460px) {
    .projects-section-header {
        font-size: 3.8rem;
    }
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    width: 95%;
    max-width: 1280px;
    margin: 0rem auto;
    margin-bottom: 70px;
    align-items: flex-start;
}

.project {
    background-color: var(--color-default);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.project-image-container {
    overflow: hidden;
}

.project-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: transform 1s ease;
}

.project-card:hover
.project-image {
    transform: scale(1.5);
}

.project-actions {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-self: end;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.project-actions__button {
    cursor: pointer;
    background-color: var(--color-default-darker);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 1px 12px;
    margin-top: 0.5rem;
    font-size: 1.3rem;
}

.project-actions__button--secondary i {
    transition: 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

.project-actions__button--secondary:hover
i {
    transition: 0.3s ease-out;
    visibility: visible;
    opacity: 1;
}

.project-actions__button--recommended {
    background-color: var(--color-primary);
}

.project-actions__button--recommended:hover
.fa-atom {
    transition: 3s ease-out;
    transform: rotate(360deg);
}

.project-actions__button--recommended:hover
.fa-meteor {
    transition: 3s ease-out;
    transform: rotate(-180deg);
}

.project-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0.5rem;
    font-size: 2rem;
    height: 120px;
}

.project-card {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: var(--color-default);
    padding: 0px 0px 8px 0px;
    border-radius: 15px;
    transition: 0.3s ease-out;
}

.project-card:hover {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
}

.project-description {
    margin-top: 5px;
    font-size: 1.2rem;
    padding: 0px 40px;
}

.project-tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1.2rem;
    font-size: 1rem;
    padding: 0px 8px;
}

.project-tags a {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: var(--color-default-darker);
    color: var(--white);
    border-radius: 5px;
    padding: 2px;
    font-style: italic;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 12px;
}

.btn__call-action {
    font-family: var(--font-montserrat);
    background-color: var(--color-default);
    transition: 0.2s ease-out;
}

.btn__call-action:hover {
    background-color: var(--color-dark);
}

.btn__call-action:hover
.fa-magic {
    transition: 0.3s ease-out;
    transform: rotate(20deg);
}

.btn__call-action:hover
.fa-hand-paper {
    transition: 0.3s ease-out;
    transform: rotate(-20deg);
}

.btn__show-all {
    font-size: 2rem;
    font-style: italic;
    background-color: var(--color-default);
    transition: 0.2s ease-out;
}

.btn__show-all:hover {
    background-color: var(--color-primary);
}

.about-me-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.about-me--more-data__list {
    margin-top: 2rem;
}

.about-me--more-data__list li {
    margin-top: 1rem;
}

.welcome-section__switch_language {
    margin-top: 0.7rem;
}

.welcome-section__switch_language a {
    font-size: 1.4rem;
    transition: 300ms color;
    color: var(--color-primary);
}

.welcome-section__switch_language a:hover {
    color: var(--white);
}

.img-profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.rounded-image {
    display: block;
    margin: 0;
    text-align: center;
    display: block;
    width: 190px;
    height: 190px;
    border-radius: 50%;
}

.about-me-section h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    color: var(--color-dark)
}

.about-me-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-me-container > div {
    width: 380px;
    background-color: white;
    color: black;
    padding: 18px;
    margin: 20px;
}

.about-me-container h3 {
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-me-container {
    font-size: 1.4rem;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-default);
}

.contact-section-header {
    font-size: 6rem;
}

@media (max-width: 460px) {
    .contact-section-header {
        font-size: 4rem;
    }
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 2rem;
    flex-wrap: wrap;
    cursor: pointer;
}

.contact-details {
    font-size: 1.8rem;
    transition: 300ms text-decoration;
}

.color-highlighted {
    color: var(--color-dark);
}

.contact-details:hover
label {
    text-decoration: underline;
    cursor: pointer;
}

footer {
    font-family: var(--font-montserrat);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-default);
    border-top: 4px solid var(--color-primary);
    padding: 2rem;
}

@media (max-width: 460px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}
